[monitor]
# Bluetooth Device Settings
adapter = hci0

#Log Level (DEBUG | INFO | WARN | ERROR)
log_level = DEBUG

#Temperature (C [Celsius] | K [Kelvin] | F [Farenheit])
temperature = C

# Often when starting up the script will disconnect
# immediately.  Set this parameter to true and the
# script will try to reconnect after 10 seconds.
# After a few attempts connection will succeed and
# resolve services.
reconnect = True


[controller_1]
enabled = True
device_alias = BT-TH-6A5DC19D
mac_address = C4:D3:6A:5D:C1:9D
device_type = Renogy
# Number of seconds between data read attempts
data_read_interval = 30
round_digits = 1

[monitoring_1]
enabled = True
device_alias = BTG004
mac_address = 38:3B:26:79:DF:37
device_type = Junctek
battery_capacity_ah = 100
# The Junctek only transmit its charging state when
# the charging state changes, so set to True to assume battery
# is charging when the script starts.
start_script_as_charging = False
# power/current draw will display as negative value when battery
# is discharging if this is set to True
draw_as_negative_value = False
# number of seconds between data transmissions to prometheus
data_send_interval = 30
round_digits = 1
# instead of using the last 'minutes remaining' broadcast by the device,
# as it can fluctuate wildly, use an average of all values from the last x minutes.
min_remaining_avg_time_in_mins = 10

[datalogger]
log_to_prometheus = True
log_to_url = False
log_to_mqtt = False
url = https://webhook.site/
token = 12345

[mqtt]
# Address to the mqtt broker
; broker = mqtt.server.addr
# All topics are prefixed by this prefix
# E.g. "solar/battery_1/voltage"
prefix = solar
